:root {
    --blue: #253674;
    --blue-hover: #2e4492;
    --lightblue : #83bbf3;
    --lightblue2 :#72a5d8;
    --lightgray: #D9D9D9;
    --lightgray2: #EAEAEA;
    --success: #5be35f;
    --failed: #db5d3d;
}